@model LoginUserModel
@{
    ViewBag.Title = "档案管理";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <input type="button" onclick="window.location.href='new'" value="新建档案" class="btn btn-success float-left">
            </div>
            <div class="col-sm-8">
                <select class="form-control select2" style="width: 100%;"></select>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="daListTable" class="table table-bordered table-striped"></table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section PageCss
    {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

}
@section PagePlusgins
    {
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
}
@section PageScripts
    {
    <script>
$(function () {
    $.ajax({
        headers: {
            Accept: "application/json; charset=utf-8",
            Authorization: "Bearer @Model.Token"
        },
        url: "@Url.Content("~/archives/queryAllProjectName")",
        dataType: 'json',
        success:function(result){
            var rs = [];
            if(result && result.success){
                result.data.forEach(function(element) {
                    rs.push({id:element,text:element})
                });
                $(".select2").select2({
                    tags: true,                          //支持新增，默认为false
                    maximumSelectionLength: 6,           //最多能够选择的个数
                    multiple: true,                      //支持多选，默认为false
                    allowClear: true,                    //支持清空，默认为false
                    placeholder: '筛选项目',      //提示语
                    data: rs                      //下拉框绑定的数据
                }).on("change", function (e) {
                    console.log($(".select2").val());
                    $('#daListTable').DataTable().ajax.reload();

                });

            }
        }
    });

            $.fn.dataTable.ext.errMode = 'throw';
            $('#daListTable').dataTable({
                "oLanguage": {
                    "sUrl": "@Url.Content("~/static/datatables_language.json")"
                },
                "bProcessing": true,
                "bAutoWidth": false,
                "bSort" : false,
                "bSearchable": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Content("~/archives/searchArchives")",
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    var ds;
                    var sl;
                    var key;
                    for(var i = 0; i < aoData.length; i++)
                    {
                      if(aoData[i].name == 'iDisplayStart')
                      {
                          ds = aoData[i].value;
                      }
                      if(aoData[i].name == 'iDisplayLength')
                      {
                          dl = aoData[i].value;
                      }
                      if(aoData[i].name == 'sSearch')
                      {
                          key = aoData[i].value;
                      }
                    }
                    aoData.push( {"name": "PageNumber", "value": ds / dl} );
                    aoData.push( {"name": "PageSize", "value": dl} );
                    aoData.push( {"name": "Keyword", "value": key} );
                    if($(".select2").val() && $(".select2").val().length>0)
                        aoData.push( {"name": "Label", "value": $(".select2").val().join(',')} );
                    $.ajax( {
                            headers: {
                                Accept: "application/json; charset=utf-8",
                                Authorization: "Bearer @Model.Token"
                            },
                            "dataType": 'json',
                            "type": "GET",
                            "url": sSource,
                            "data": aoData,
                            "success": function(result){
                                if (result.success) {
                                    var ooret = {
                                        "sEcho": result.SEcho,
                                        "iTotalRecords": result.totalCount,
                                        "iTotalDisplayRecords": result.totalCount,
                                        "aaData": result.data
                                    }
                                    fnCallback(ooret)
                                } else {
                                    fnCallback(null)
                                }
                            }

                    } );
                },
                "aoColumns" : [{
                        "mDataProp" : "archivesNumber",
                        "sTitle" : "档案号",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "categoryId",
                        "sTitle" : "分类号",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "fileNumber",
                        "sTitle" : "案卷号",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "title",
                        "sTitle" : "题名",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "projectName",
                        "sTitle" : "项目名称",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "id",
                        "sTitle" : "操作",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }],
                    "aoColumnDefs": [ {
                        "aTargets": [ -1 ],
                        "mData": "detail_link",
                        "mRender": function ( data, type, full ) {
                            return '<a href="/da/edit/'+data+'">查看详情</a>';
                        }
                    } ]
            });
        });</script>
}
